html{
    background-color: rgb(17, 16, 16);
}

.accueil{
    font-weight: bold;
}

nav{
    background-color: black;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.netflix{
    padding: 20px 0 15px 30px;
    width:120px;
    height:40px;
}

.redirect {
    margin-top: 30px;
    color: rgb(49, 49, 49);
}

ul{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    padding: 15px 15px 15px 30px;
}

li{
    color: white;
    list-style-type: none;
    margin: 0 15px 0 15px;
    
}

a{
    text-decoration: none;
    color: white;
}

main{
    padding-top:30px;
    color:white;
    padding-left:30px;
}

img{
    width:250px;
}

h4{
    font-size:20px;
    margin-bottom:10px;
}