body{
    background-color: rgb(17, 16, 16);
    color:white;
}

nav{
    padding-bottom:50px;
}

a{
    text-decoration: none;
    color:white;
}

.redirect {
    margin-top: 30px;
    color: rgb(49, 49, 49);
}

ul{
    padding:25px 0 0 0;
}

li{
    list-style-type: none;
}

.netflix{
    padding: 20px 0 0 30px;
    height:60px;
}

main{
    padding-left:25px;
}

img{
    height:150px;
}

h4{
    padding-bottom:10px;
}

section{
    padding-bottom:30px;
}